# IDE Settings
.vscode/
.DS_Store

# Environment Variables (Crucial for security!)
.env
venv/
env/

# Python internal files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / Build
dist/
build/
*.egg-info/